body {
    background-color: black;
    color: white;
}

.header {
    width: 80%;
    text-align: center;
    font-size: large;
    margin: auto;
    border: 1px solid white;
    border-radius: 2rem;
}
